@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;700&family=PT+Mono&display=swap');

:root {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: 'Open Sans', sans-serif;
}


.mono {
    font-family: 'PT Mono', monospace;
    letter-spacing: .2rem;
}