@import './variables';
@import './typography';
@import './components';

html, * {
    box-sizing: border-box;
}

body {
    margin: 0;
    height: 100vh;
    background: $purple;

    #app {
        height: inherit;

        main {
            height: inherit;
        }
    }
}